#friedns-display-link {
    text-align: center;
    display: block;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 15px 0px;
    margin-bottom: 10px;
    color: rgba(0, 0, 0, 0.7);
    margin-top: -10px;
}


.fa-info-circle {
    color: rgba(255, 255, 255, 0.8)

}

.friends-screen__channel {
    margin-top: 25px;
    border-top: var(--main-border);
    padding-top: 15px;
}

.friends-screen__channel-header{
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    color: rgba(0, 0, 0, 0.8);
}

@keyframes hideSplashScreen {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        visibility: hidden;
    }
}

#splash-screen {
    background-image:url(https://cdn.pixabay.com/photo/2018/02/23/22/12/concrete-wall-3176815_1280.jpg);
    position: absolute;
    height: 100vh;
    width: 100vw;
    top:0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 128px;
    animation: hideSplashScreen 0.3s ease-in-out forwards;
    animation-delay: 0.8s;
}