@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
@import "reset.css";
@import "status-bar.css";
@import "variables.css";
@import "login.css";
@import "nav-bar.css";
@import "screen-header.css";
@import "friends.css";
@import "user-component.css";
@import "badge.css";
@import "find.css";
@import "more.css";
@import "icon-row.css";
@import "alt-screen-header.css";
@import "settings.css";
@import "chat.css";
@import "no-mobile.css";

body {
    font-family: 'Special Elite', cursive;
    background-image:url(https://cdn.pixabay.com/photo/2018/02/23/22/12/concrete-wall-3176815_1280.jpg);
}


.main-screen {
    padding:0px var(--horizontal-space);
}